<h2 id="logo">Peeps!</h2>
<%= link_to "Edit your profile", edit_your_user_path %>
<% form_tag change_game_locale_path, :method => :get, :id => "change-office" do %>
    <%= label_tag "office", "Change" %>
    <%= select_tag("office", option_groups_from_collection_for_select(@locales, :offices, :name, :code, :name, params[:office]), {:include_blank => "All offices"}) %>
    <%= submit_tag "Change", :class => "hide" %>
<% end %>

<% form_tag submit_score_path, :method => :post, :id => "submit-score", :class => "hide" do %>
    <%= hidden_field_tag "score[user_id]", session[:user_id] %>
    <%= hidden_field_tag "score[office_id]", params[:office].present? ? Office.find_by_code(params[:office]).id : 0 %>

    <%# field values below are changed using javascript %>
    <%= hidden_field_tag "score[duration]", 0 %>
    <%= hidden_field_tag "score[correct_peeps]", 0 %>
    <%= hidden_field_tag "score[incorrect_peeps]", 0 %>
    <%= hidden_field_tag "score[total_score]", 0 %>
    <%= submit_tag "Submit score" %>
<% end %>

<div id="names-wrapper">
    <ul id="names">
    <% @users.sort_by{|u|u.name}.each do |user| %>
        <% if user.photo? %>
        <li class="ui-draggable"><%= user.name %></li>
        <% end %>
    <% end %>
    </ul>
</div>

<a href="#" class="show-highscore">Show highscore</a>