<h2 id="logo">Peeps!</h2>
<div class="edit-user">
    <h2>Edit your profile</h2>
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
          <div class="field">
              <div class="label-wrapper">
                  <%= f.label :first_name %>
              </div>
              <%= f.text_field :first_name %>
          </div>
      </div>
    
      <div class="row">
          <div class="field">
              <div class="label-wrapper">
                  <%= f.label :last_name %>
              </div>
              <%= f.text_field :last_name %>
          </div>
      </div>

      <div class="row">
          <div class="field">
              <div class="label-wrapper">
                  <%= f.label :office %>
              </div>
            <%= f.select(:office_id, option_groups_from_collection_for_select(Locale.all, :offices, :name, :id, :name, @user.office_id)) %>
          </div>
      </div>

      <div class="photo-wrapper">
          <% if @photos %>
              <% @photos.each do |photo| %>
                <label class="edit-photo">
                    <%= f.radio_button :photo_url, photo.source %>
                    <%= image_tag photo.source %>
                </label>
              <% end %>
          <% else %>
            <div class="facebook-info">
                <p>You must choose an image before you show up in the game. Please click the link below and allow the Facebook application to sync with your Facebook user information. After validation you will be redirected back here and you can choose your image from your profile album.</p>
                <%= link_to "Get images from Facebook", "/auth/facebook", :class => "facebook-link" %>
            </div>
          <% end %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
    <%= link_to 'Back to the game (dont change anything)', users_path %>
</div>