<h2 id="logo">Peeps!</h2>
<h2>Edit your profile</h2>

    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
          <div class="field alpha">
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name %>
          </div>
  
          <div class="field omega">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name %>
          </div>
      </div>

      <div class="field">
        <%= f.label :office %><br />
        <%= f.select :office_id, Office.all.collect {|o| [ o.name, o.id ] } %>
      </div>

      <% if @photos %>
          <% @photos.each do |photo| %>
            <label class="edit-photo">
                <%= f.radio_button :photo_url, photo.source %>
                <%= image_tag photo.source %>
            </label>
          <% end %>
      <% else %>
        <%= link_to "Get images from Facebook", "/auth/facebook", :class => "facebook" %>
      <% end %>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
<%= link_to 'Back', users_path %>