<div id="page-wrapper">
    <ul id="peeps">
        <% @users.each do |user| %>
            <% if user.photo? %>
                <li>
                    <%= image_tag(user.photo, :alt => user.name, :class => "index-photos ui-droppable", "data-name" => user.name) %>
                </li>
            <% end %>
        <% end %>
    </ul>
</div>
<div id="game-sidebar">
    <%= render :partial => "users/game/names_sidebar" %>
</div>
<div id="preloader">
    <%= image_tag "thumbs-up.png", :class => "hide" %>
    <%= image_tag "thumbs-down.png", :class => "hide" %>
    <%= image_tag "team.jpg", :class => "hide" %>
</div>
<div id="edit" style="display:none;"></div>
<%= render :partial => "users/game/win" %>