<p id="notice"><%= notice %></p>

<p>
    <b>Name:</b>
    <%= @user.name %>
</p>

<% if @user.photo? %>
<p>
    <b>Photo:</b>
    <%= image_tag @user.photo %>
</p>
<% end %>

<p>
    <%= @user.locale %> office
</p>

<p><%= link_to "Back to list of users", users_path %>