<!DOCTYPE html>
<html>
<head>
  <title>Peeps</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= params[:controller] %>-<%= params[:action] %>">

<%= yield %>

<%= link_to "Töm session", sessions_destroy_path, :class => "hide" %>
<span id="office-from-param" class="hide"><%= params[:office].blank? ? "all" : params[:office] %></span>
</body>
</html>
