<!DOCTYPE html>
<html>
<head>
  <title>Peeps</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25721534-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body class="<%= params[:controller] %>-<%= params[:action] %>">

<%= yield %>

<%= link_to "Töm session", sessions_destroy_path, :class => "hide" %>
<span id="office-from-param" class="hide"><%= params[:office].blank? ? "all" : params[:office] %></span>
</body>
</html>
